*.DS_Store

node_modules
public/components
public/vendor
public/404.html
public/50x.html
public/maintenance.html

*.sublime-project
*.sublime-workspace

Vagrantfile
.vagrant

config/runtime.json
config/runtime.json.tmp-*
config/development.yaml
config/development.yml
config/development.json
config/production.yaml
config/production.yml
config/production.json
config/local.yaml
config/local.yml
config/local.json
config/migration.json
config/migrationDb.json

npm-debug.log
build.log
test-*.js

.sass-cache

public/css/base.css
public/css/base.css.map
public/css/embed.css
public/css/embed.css.map
public/css/publish
public/js/dist
lib/views/courses/download/course.css
lib/views/courses/download/course.css.map

lib/migrations/backups

public/_published

*.pyc

*.swp

.agignore

/docker-compose.yml
